.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.navbar-nav {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #7f4b23;
}

.navbar-nav li a {
  margin: 1rem;
  display: inline-block;
  color: rgb(243, 243, 243);
}

.main {
  background-color: #fde4d0;
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border: 3px solid rgb(243, 243, 243);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  column-gap: 3%;
  width: 70vw;
  background-color: rgb(243, 243, 243);
}

.left-col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: rgb(243, 243, 243);
}

.post-image {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.right-col {
  background-color: white;
  height: 100%;
  width: 37%;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.post {
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
}

.next-button {
  position: absolute;
  background-color: rgb(243, 243, 243);
  height: 5rem;
  width: 5rem;
  right: 0;
  border-radius: 100%;
}

.arrow {
  position: absolute;
  top: 25%;
  left: 40%;
  background-color: rgb(243, 243, 243);
  border: 1.2rem solid transparent;
  border-left: 1.5rem solid plum;
}

#login-wrapper {
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.login-main-content {
  width: 30vw;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.login-header {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.login-header img {
  height: 50px;
  width: 175px;
  margin: auto;
  position: relative;
  left: 40px;
}

.login-input-1,
.login-input-2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.login-overlap-text {
  position: relative;
}

.login-overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

.login-btn {
  width: 100%;
  background-color: plum;
  border: 1px solid plum;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.login-sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;
}

.login-s-part {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.login-s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}